<div id="{{id}}" class="uploader">
	<img src="{{source}}" width="200" height="200"/>
	<button class="browse-button">Browse...</button>
	<button class="remove-button">Remove</button>
	<div class="hidden input-attach-point" style="display:none"></div>
</div>