<div class="result">
	<div>
		<h4>Are you sure you want to make {{first_name}} {{last_name}} the game owner?</h4>
		<p>This will update their role to become the owner immediately and you will become a reviewer.</p>
	</div>
	<div class="actions text-right">
		<button class="cancel btn btn-default">No</button>
		<button class="make-owner-confirm btn btn-primary">Yes</button>
	</div>
</div>