<div class="result">
	<div>
		<h4>Are you sure you want to make {{first_name}} {{last_name}} a reviewer?</h4>
		<p>They will no longer be able to play in the game. If they have current assignments they will be transferred.</p>
	</div>
	<div class="actions text-right">
		<button class="cancel btn btn-default">No</button>
		<button class="make-reviewer-confirm btn btn-primary">Yes</button>
	</div>
</div>