amqp==1.4.7
anyjson==0.3.3
Babel==2.1.1
backports-abc==0.4
beautifulsoup4==4.4.1
billiard==3.3.0.21
bleach==1.4.2
celery==3.1.19
defusedxml==0.4.1
Django==1.9
django-admin-bootstrapped==2.5.6
django-allauth==0.24.1
django-appconf==1.0.1
django-commands==0.7
django-compressor==1.5
django-filter==0.11.0
django-haystack==2.4.1
django-modelcluster==1.0
-e git://github.com/rutledgepaulv/django-require.git@eed3c61989136c56d2492efd00345065cd117863#egg=django_require-master
django-taggit==0.17.5
django-treebeard==3.0
flower==0.8.3
gunicorn==19.4.1
html5lib==0.9999999
kombu==3.0.29
oauthlib==1.0.3
Pillow==3.0.0
python3-openid==3.0.9
pytz==2015.7
requests==2.8.1
requests-oauthlib==0.5.0
requirements==0.1
six==1.10.0
slimit==0.8.1
South==1.0.2
tornado==4.3
Unidecode==0.4.18
Whoosh==2.7.0
Willow==0.2.2
