{% load staticfiles %}
{% load compress %}

<link type="text/css" rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'bootstrap-select/dist/css/bootstrap-select.min.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'components-font-awesome/css/font-awesome.min.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'scripts/lib/formvalidation/formValidation.min.css' %}"/>
<link type="text/less" rel="stylesheet" href="{% static 'style/style.less' %}"/>