<div class="text-capitalize table-responsive">
	<table class="table">
		<thead>
		<tr>
			<th class="text-center">Languages</th>
		</tr>
		</thead>
		<tbody>
		{{#each circles}}
			<tr>
				<td class="text-center" style="color: {{color}}">{{label}}</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</div>