{% extends 'site.html' %}
{% load global_tags %}
{% load staticfiles %}

{% block page_styles %}
	<link href="{% static 'style/Member/reset_form.less' %}" type="text/less" rel="stylesheet"/>
{% endblock %}

{% block main-contents %}

	<div class="jumbotron action-area">
		<h3>Verify your email</h3>
		<p>
			We have sent an e-mail to you for verification. Follow the link provided to finalize
			the signup process. Please contact us if you do not receive it within a few minutes.
		</p>
	</div>

{% endblock %}