{% extends 'site.html' %}
{% load global_tags %}
{% load staticfiles %}

{% block page_styles %}
	<link href="{% static 'style/Member/reset_form.less' %}" type="text/less" rel="stylesheet"/>
{% endblock %}

{% block main-contents %}

	<div class="jumbotron">
		<div class="action-area">
			<h4>Dude, let's get you back in action.</h4>

			<form method="POST" action="{% url 'account_reset_password' %}">
				{% csrf_token %}
				<div class="form-group">
					<label for="{{ form.email.auto_id }}">Email</label>
					{{ form.email|class:'form-control' }}
				</div>
				<input class="btn btn-primary" type="submit" value="Reset my password"/>
			</form>

		</div>
	</div>

{% endblock %}