{% extends 'site.html' %}
{% load global_tags %}
{% load staticfiles %}

{% block page_styles %}
	<link href="{% static 'style/Member/reset_form.less' %}" type="text/less" rel="stylesheet"/>
{% endblock %}

{% block main-contents %}

	<div class="jumbotron action-area">

		<h3>{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h3>

		{% if token_fail %}
			<p>
				The password reset link was invalid, possibly because it has already been used.  Please
				request a <a href="{% url 'account_reset_password' %}">new password reset</a>.
			</p>
		{% else %}
			{% if form %}
				<form method="POST" action="." class="form-group">
					{% csrf_token %}
					{{ form.password1|class:'form-control' }}
					<br/><br/>
					{{ form.password2|class:'form-control' }}
					<input class="btn btn-default" type="submit" name="action" value="Change Password"/>
				</form>
			{% else %}
				<p>Your password has successfully been changed.</p>
			{% endif %}
		{% endif %}
	</div>

{% endblock %}