<div class="result">
	<div>
		<h4>Are you sure you want to kick {{first_name}} {{last_name}}?</h4>
		<p>You won't be able to undo this and they will no longer be involved with this game.</p>
	</div>
	<div class="actions text-right">
		<button class="cancel btn btn-default">No</button>
		<button class="kick-reviewer-confirm btn btn-primary">Yes</button>
	</div>
</div>