<div class="user-entry result row">
	<div class="username col-md-6">
		{{first_name}} {{last_name}}
	</div>
	<div class="actions col-md-6">
		<button class="kick-reviewer-button btn btn-warning" data-user="{{pk}}">Kick</button>
		<button class="make-owner-button btn btn-primary" data-user="{{pk}}">Make Owner</button>
	</div>
</div>
